<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Клиент Медуза.io</title>
    <link rel="stylesheet" href="/assets/css/index.css">
  </head>
  <body>
      <div id="meduza">
    <main>
        <h1>Новости</h1>
        <div class="list" v-if="news.length">
            <article class="news-item" 
            v-for="(item, index) in news"
            v-bind:key="index"
            >
                <div class="image">
                    <picture>
                        <img 
                        v-bind:src="item.image"
                        v-bind:alt="item.title"
                        v-if="item.image"
                        >
                    </picture>
                </div>
                <div class="description">
                    <div class="title">
                        <a v-bind:href="item.url">{{item.title}}</a>
                    </div>
                    <div class="date">
                        {{item.date}}
                    </div>
                    <div class="more">
                        <a v-bind:href="item.url">Подробнее</a>
                    </div>
                </div>
            </article>
        </div>
        <button v-on:click="setPage(page - 1)" v-if="page - 1">Предыдущая</button>
        <button v-on:click="setPage(page + 1)">Следующая</button>
    </main>
    <aside id="main-menu">
        <nav>
            <ul>
                <li v-bind:class="{'active': chrono == 'news'}">
                    <a href="javascript:void(null);" v-on:click="setChrono('news');" tabindex="0">Новости</a>
                </li>
                <li v-bind:class="{'active': chrono == 'articles'}">
                    <a href="javascript:void(null);" v-on:click="setChrono('articles');" tabindex="0">Истории</a></span>
                </li>
                <li v-bind:class="{'active': chrono == 'razbor'}">
                    <a href="javascript:void(null);" v-on:click="setChrono('razbor');" tabindex="0">Разбор</a></li>
                <li v-bind:class="{'active': chrono == 'games'}">
                    <a href="javascript:void(null);" v-on:click="setChrono('games');" tabindex="0">Игры</a></li>
                <li v-bind:class="{'active': chrono == 'shapito'}">
                    <a href="javascript:void(null);" v-on:click="setChrono('shapito');" tabindex="0">Шапито</a></li>
                <li v-bind:class="{'active': chrono == 'podcasts'}">
                    <a href="javascript:void(null);" v-on:click="setChrono('podcasts');" tabindex="0">Подкасты</a></li>
            </ul>
        </nav>
    </aside>
    </div>
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="assets/scripts/main.js"></script>
  </body>
</html>
