#main-menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      border-top: 1px solid #e6ebec;
      &:first-child {
        border-top: 0;
      }
      a {
        color: #0270af;
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        &:hover {
          background: #ddd;
        }
      }
      &.active {
        a {
          background: #323232;
          color: #fff;
        }
      }
    }
  }
}
