.news-item {
  display: flex;
  flex-direction: column;
  .image {
    background: #e1e1e1;
    flex-grow: 0;
    flex-shrink: 0;
    height: 250px;
    overflow: hidden;
    picture {
      display: block;
      padding-top: 56.25%;
      position: relative;
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
      }
    }
  }
  .description {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    border-top: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    .title {
      font-size: 16px;
      a {
        border-bottom: 1px dashed transparent;
        color: #0270af;
        padding-bottom: 1px;
        text-decoration: none;
        transition: border 0.15s ease-in;
        &:hover {
          border-bottom-color: #0270af;
        }
      }
    }
    .text {
      font-size: 14px;
      margin: 20px 0;
    }
    .date {
      color: #bbb;
      font-size: 12px;
    }
    .more {
      margin-top: auto;
      padding-top: 20px;
      a {
        background: #0285d2;
        color: #fff;
        padding: 10px 15px;
        text-decoration: none;
      }
    }
  }
}
