* {
  font-family: "Roboto Condensed", sans-serif;
}
html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  main {
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: calc(100% - 300px);
    h1 {
      border-bottom: 1px solid #ccc;
      font-size: 20px;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
    .list {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
      > * {
        box-sizing: border-box;
        margin: 0 15px 30px 15px;
        width: calc(25% - 30px);
      }
    }
  }
  aside {
    background: #f8f8f8;
    bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
  }
}
